<h1>Pessoas</h1>

<button class="btn btn-primary">Adicionar Pessoas</button>

<p *ngIf="!(pessoas && pessoas.lenght)">
    Não possui registro na tabela de pessoas!!
</p>

<table class="table" *ngIf="pessoas && pessoas.length">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <td >{{pessoa.nome}}</td>
            <td >{{pessoa.dataNascimento | date : 'dd-MM-yyyy'}}</td>
            <td>
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>           
</table>

